{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title}} par {{annonce.user.username}}{% endblock %}

{% block body %}

	{% for message in app.flashes('notice') %}
	<div class="alert alert-success" role="alert">
		{{ message }}
	</div>
	{% endfor %}

	<div class="album py-5 bg-light">
		<div class="row d-flex justify-content-center">
			<div class="col-md-10">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="https://via.placeholder.com/900x400">
					<div class="card-body">
						<div class="card-body">
							<h5 class="card-title">{{ annonce.title}}</h5>
							<h5 class="card-subtitle font-weight-bold mt-2">{{annonce.price}}
								€</h5>
							<p class="card-text mt-2">{{annonce.description}}</p>
							<div class="d-flex justify-content-between align-items-center">
								<small class="text font-weight-bold"> {{annonce.category.title}}</small> 
							</div>
							<div class="d-flex justify-content-between align-items-center mt-4">
								<p class="text"> Proposé par {{annonce.user.username}} le {{annonce.created_at |date("d/m/Y")}}</p>
							</div>
						</div>
					</div>
				</div>
			{% if app.user %}
				<div class="card">
					<div class="card-header">
						Actions
					</div>
					<div class="card-body">
						<div class="row">
							<a href="{{ path('update', {'id': annonce.id }) }}" class="btn btn-primary mx-2">Modifier</a>
							<a href="{{ path('delete', {'id': annonce.id }) }}" class="btn btn-danger mx-2">Supprimer</a>
						</div>
					</div>
				</div>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

