<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Le bon coin
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
				<a class="navbar-brand" href="{{ path('home') }}">Le Bon Coin</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
					{% if app.user == null %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('login')}}">Déposer une annonce</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('add')}}">Déposer une annonce</a>
						</li>
					{% endif %}
					
						{% if app.user == null %}<li class="nav-item">
							<a class="nav-link" href="{{path('login')}}">Se connecter</a>
						</li>{% endif %}

						{% if app.user  == null %}<li class="nav-item">
							<a class="nav-link" href="{{ path('register') }}">S'inscire</a>
						</li>{% endif %}
						{% if app.user %}<li class="nav-item">
							<a class="nav-link" href="{{path('logout')}}">Se déconnecter</a>
						</li>{% endif %}
					</ul>
				</div>
				{% if app.user %}<div class="d-flex justify-content-end"><p class="text-light">{{ app.user.username}} est connecté </p></div> {% endif %}
			</nav>
		</header>

		<main role="main" class="container-fluid mt-5 pt-3"> {% block body %}{% endblock %}
			</main>
			<footer class="bg-dark text-white text-center text-md-left">
				<div class="container">
					<div class="row pt-4">
						<p class="text-center py-4 mx-auto">
							Copyright © Fanny GOUBERT 2022
						</p>
					</div>
				</footer>
			</body>
		</body>
	</html>

